@import "tailwindcss";

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}

.shadow-premium {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.05);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}